<h1>WELCOME TO MARIOS SPECIALTY FOODS!</h1>

<p> here you will find a wide variety of food that i create myself .
 feel free to look around and leave an honest review of my delicious foods !</p>


<h1></h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


 <%= button_to "Create new product", 
              new_product_path,
              method: :get %>