<h1>WELCOME TO MARIOS SPECIALTY FOODS!</h1>

<p> here you will find a wide variety of food that i create myself .
 feel free to look around and leave an honest review of my delicious foods !</p>


 <%= button_to "view a list of all products here!", 
              products_path,
              method: :get %>